@model IEnumerable<Team1.個人.Huang.ViewModels.QAsVm>

@{
	ViewBag.Title = "Index";


}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create") |
	@Html.ActionLink("返回", "Index", "ServiceCategorys", null, null)
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ServiceCategoryName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AnsText)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ServiceCategoryName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.QName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AnsText)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |				
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
