@model IEnumerable<Team1.ViewModels.PackageVM>

@{
	ViewBag.Title = "Index";
}

<style>
	body {
		font-weight: bold;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		overflow-x: auto;
	}

	h2 {
		background-color: powderblue;
		padding: 10px;
	}

	th, td {
		border: 1px solid black;
		padding: 8px;
		text-align: left;
	}

	.separator {
		border-bottom: 1px solid black;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.button-container {
		display: flex;
		white-space: nowrap;
	}

		.button-container .btn {
			margin-right: 5px;
			margin-top: 5px;
		}

	.table th {
		white-space: nowrap;
	}

	.custom-dropdown {
		position: relative;
		width: 200px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 4px;
		overflow: hidden;
	}

		.custom-dropdown::after {
			content: "\25BC";
			font-size: 12px;
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
		}

		.custom-dropdown select {
			width: 100%;
			padding: 8px;
			border: 1px solid #ddd;
			border-radius: 4px;
			box-sizing: border-box;
			appearance: none;
		}

	.thumbnail {
		max-width: 300px;
		max-height: 200px;
	}
</style>

<h2>產品設定</h2>

@using (Html.BeginForm("Search", "Package", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="d-flex flex-column">
		<div class="form-group d-flex align-items-end">
			<div style="margin-right: 10px;">
				<label for="Id">產品編號:</label>
				<input type="text" name="Id" class="form-control" style="height:50px" />
			</div>
			<div style="margin-right: 10px;">
				<label for="Name">產品名稱:</label>
				<input type="text" name="Name" class="form-control" style="height:50px" />
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="date">日期:</label>
					@Html.TextBox("date", null, new { @class = "form-control", @type = "date" })
				</div>
			</div>
		</div>
		<div class="form-group d-flex">
			<div style="margin-right: 10px;">
				<button type="submit" class="btn btn-primary" style="margin-top:5px">
					<i class="fas fa-search"></i> 查詢
				</button>
			</div>
			<div>
				<a href="@Url.Action("Index")" class="btn btn-dark" style="margin-top:5px">
					<i class="fas fa-times"></i> 清除查詢
				</a>
			</div>
		</div>
	</div>

}

<div class="separator"></div>
<div class="table-responsive">
	<table class="table table-bordered table-striped" style="width:auto">
		<thead>
			<tr>
				<th scope="col" style="width: auto;">
					@Html.ActionLink("新增", "Create", null, new { @class = "btn btn-warning" })
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.LowestGo)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.ApplyBeginDate)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.ApplyEndDate)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.CanSold)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.TotalNum)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.Image)
				</th>
				<th scope="col" style="width: auto;">
					@Html.DisplayNameFor(model => model.Description)
				</th>
				@*<th scope="col" style="width: auto;">
						@Html.DisplayNameFor(model => model.Alert)
					</th>
					<th scope="col" style="width: auto;">
						@Html.DisplayNameFor(model => model.PriceDescription)
					</th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td style="width: auto;">
						@Html.ActionLink("修改", "Edit", new { id = item.Id }, new { @class = "btn btn-success", style = "color: white;" })
						@using (Html.BeginForm("Delete", "Package", new { id = item.Id }, FormMethod.Post, new { id = "deleteForm_" + item.Id }))
						{
							@Html.AntiForgeryToken()
							<button type="button" class="btn btn-danger deleteButton" data-form-id="deleteForm_@item.Id" style="margin-top:5px">
								<i class='fas fa-trash'></i> 刪除
							</button>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LowestGo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ApplyBeginDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ApplyEndDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CanSold)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TotalNum)
					</td>
					<td><img src="@item.Image" alt="Image" class="thumbnail" /></td>
					<td>
						<a href="javascript:void(0);" onclick="openPDF('@Url.Content(item.Description)')">檢視行程說明</a>
					</td>
					@*<td>
							@Html.DisplayFor(modelItem => item.Alert)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PriceDescription)
						</td>*@
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(document).ready(function () {
			$('.deleteButton').click(function () {
				var formId = $(this).data('form-id');
				if (confirm("確定要刪除嗎？")) {
					$('#' + formId).submit();
				}
			});
		});
		function openPDF(url) {
			window.open(url, '_blank', 'height=600,width=800');
		}
	</script>
}
